{% extends 'base.html' %}
{% load i18n %}
{% load sekizai_tags %}
{% load static %}
{% block main %}

<div class="row">
    <div class="large-12 columns">
        <p>Hans Rudolf Twerenbold liest „s Juramareili“<br/>Herausgegeben von der Pro Argovia 1986. Alle Urheberrechte vorbehalten.</p>

        <audio id="twerenboldAudio" controls type="audio/mpeg"><source type="audio/mp3" src="{{MEDIA_URL}}audio/twerenbold/01-Hans_Rudolf_Twerenbold_-_CD_Track_01.mp3">Sorry, your browser does not support HTML5 audio.
        </audio>

        <ul id="twerenbold" class="playlist inline-list">
            <li class="active">
                <a href="{{MEDIA_URL}}audio/twerenbold/01-Hans_Rudolf_Twerenbold_-_CD_Track_01.mp3">1</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/02-Hans_Rudolf_Twerenbold_-_CD_Track_02.mp3">2</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/03-Hans_Rudolf_Twerenbold_-_CD_Track_03.mp3">3</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/04-Hans_Rudolf_Twerenbold_-_CD_Track_04.mp3">4</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/05-Hans_Rudolf_Twerenbold_-_CD_Track_05.mp3">5</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/06-Hans_Rudolf_Twerenbold_-_CD_Track_06.mp3">6</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/07-Hans_Rudolf_Twerenbold_-_CD_Track_07.mp3">7</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/08-Hans_Rudolf_Twerenbold_-_CD_Track_08.mp3">8</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/09-Hans_Rudolf_Twerenbold_-_CD_Track_09.mp3">9</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/10-Hans_Rudolf_Twerenbold_-_CD_Track_10.mp3">10</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/11-Hans_Rudolf_Twerenbold_-_CD_Track_11.mp3">11</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/twerenbold/12-Hans_Rudolf_Twerenbold_-_CD_Track_12.mp3">12</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <p>
            Thomas Hostettler rezitiert „s Juramareili“ in einer eigenen „Zofiger Fassig“ (in 10 Gesängen)
            mit Illustrationen von Eduard Steiner (Düdül), Aarau.<br />
            Aufnahme: 20. November 2009, Selmi Tonstudio, Zürich.
        </p>

        <audio id="hostettlerAudio" preload="auto" tabindex="0" controls="" type="audio/mpeg"><source type="audio/mp3" src="{{MEDIA_URL}}audio/hostettler/01-Hostettler_-_CD_Track_01.mp3">Sorry, your browser does not support HTML5 audio.
        </audio>

        <ul id="hostettler" class="playlist inline-list">
            <li class="active">
                <a href="{{MEDIA_URL}}audio/hostettler/01-Hostettler_-_CD_Track_01.mp3">1</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/02-Hostettler_-_CD_Track_02.mp3">2</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/03-Hostettler_-_CD_Track_03.mp3">3</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/04-Hostettler_-_CD_Track_04.mp3">4</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/05-Hostettler_-_CD_Track_05.mp3">5</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/06-Hostettler_-_CD_Track_06.mp3">6</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/07-Hostettler_-_CD_Track_07.mp3">7</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/08-Hostettler_-_CD_Track_08.mp3">8</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/09-Hostettler_-_CD_Track_09.mp3">9</a>
            </li>
            <li>
                <a href="{{MEDIA_URL}}audio/hostettler/10-Hostettler_-_CD_Track_10.mp3">10</a>
            </li>
        </ul>
    </div>
</div>


<ul class="clearing-thumbs clearing-feature" data-clearing>
    <!-- @formatter:off -->
    {% for i in "xxxxxxxxxxxxxxxxxxxxxx" %}
    <!-- @formatter:on -->
    <li class="clearing-featured-img">
        <a href="{{ MEDIA_URL }}juramareili/{{ forloop.counter|stringformat:'02d' }}.jpg">
            <img src="{{ MEDIA_URL }}juramareili/{{ forloop.counter|stringformat:'02d' }}.jpg" style="height:150px;">
            >
        </a>
    </li>
    {% endfor %}
</ul>


{% addtoblock "js" %}
<script>
    init('#twerenbold', '#twerenboldAudio');
    init('#hostettler', '#hostettlerAudio');

    function init(playlistID, audioID){
        var current = 0;
        var playlist = $(playlistID);
        var tracks = playlist.find('li a');
        len = tracks.length - 1;
        $(audioID)[0].volume = .10;
        //$(audioID)[0].play();
        playlist.find('a').click(function(e){
            e.preventDefault();
            link = $(this);
            current = link.parent().index();
            run(link, $(audioID)[0]);
        });
        $(audioID)[0].addEventListener('ended',function(e){
            current++;
            if(current == len){
                current = 0;
                link = playlist.find('a')[0];
                // just stop after last track.
                $(audioID)[0].stop();
                return;
            }else{
                link = playlist.find('a')[current];
            }
            run($(link),$(audioID)[0]);
        });
    }
    function run(link, player){
        player.src = link.attr('href');
        par = link.parent();
        par.addClass('active').siblings().removeClass('active');
        player.load();
        player.play();
    }

</script>
{% endaddtoblock %}

{% endblock %}
