{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block main %}

<div class="row">
    <div class="large-12 columns">
        <p>Hans Rudolf Twerenbold liest „s Juramareili“<br/>Herausgegeben von der Pro Argovia 1986. Alle Urheberrechte vorbehalten.</p>

        <ul>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/01-Hans_Rudolf_Twerenbold_-_CD_Track_01.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/02-Hans_Rudolf_Twerenbold_-_CD_Track_02.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/03-Hans_Rudolf_Twerenbold_-_CD_Track_03.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/04-Hans_Rudolf_Twerenbold_-_CD_Track_04.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/05-Hans_Rudolf_Twerenbold_-_CD_Track_05.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/06-Hans_Rudolf_Twerenbold_-_CD_Track_06.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/07-Hans_Rudolf_Twerenbold_-_CD_Track_07.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls>
                  <source src="{{MEDIA_URL}}audio/twerenbold/08-Hans_Rudolf_Twerenbold_-_CD_Track_08.mp3" type="audio/mpeg">
                  </audio>
              </li>
              <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/09-Hans_Rudolf_Twerenbold_-_CD_Track_09.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/10-Hans_Rudolf_Twerenbold_-_CD_Track_10.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/11-Hans_Rudolf_Twerenbold_-_CD_Track_11.mp3" type="audio/mpeg">
                </audio>
            </li>
            <li>
                <audio controls><source src="{{MEDIA_URL}}audio/twerenbold/12-Hans_Rudolf_Twerenbold_-_CD_Track_12.mp3" type="audio/mpeg">
                </audio>
            </li>
        </ul>
    </div>
</div>


{% endblock %}