
{% extends 'base.html' %}
{% load i18n %}
{% load sekizai_tags %}
{% load static %}
{% block main %}
{% include "website/leben_nav.html" %}
<div class="row">
    <div class="large-12 columns">
        <div class="slidit">
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_01_ehepaar_haller.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_01_gruppenfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_02_ktv.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_02_paul_haller_als_kleinkind.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_03-03-photo-haller.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_03-04-photo-haller.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_03_paul_haller_als_student.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_04_paul_haller_in_anzug.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_07a_gruppenfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_07b_mit_erwin.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_08c_rosa_rusch.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_09b_gruppenfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_09d_gruppenfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_10a_pfarrhaus.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_10b_pfarrhaus.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_10c_pfarrhaus.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_10d_pfarrhaus.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_10e_pfarrkirche.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_10f_pfarrkirche.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_11_studierende.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_12a_landschaftsfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_12b_landschaftsfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_12c_landschaftsfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_12d_landschaftsfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_12d_landschaftsfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_12e_pfarrkirche.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_12f_gruppenfoto.jpg" alt="" />
            </div>
            <div>
                <img src="{{ MEDIA_URL }}galerie/nla-0071_0008_13b-photo-boot.jpg" alt="" />
            </div>
        </div>
    </div>
</div>


{% addtoblock "js" %}
<script>
/*
    $('.slidit').slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        centerMode: true,
        variableWidth: true
    });
*/
</script>
{% endaddtoblock %}

{% endblock %}









