{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block main %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Im Zeitalter der digitalen Medien scheint es uns geboten, den Aargauer Schriftsteller Paul Haller via Internet einem an Schweizer Literatur interessierten Publikum bekanntzumachen: Sein Werk – ob veröffentlicht oder nicht –, das biografische Material, zahlreiche ungedruckte Briefe und Predigten, Rezeptionsmaterial, Tondokumente sowie der zeichnerische Nachlass aus seinen letzten Lebensjahren bieten dazu eine reiche Fundgrube.
            Einiges davon möchten wir auf dieser Webseite präsentieren. Um die Seite für das interessierte Publikum attraktiv zu erhalten, sind wir bestrebt, von Zeit zu Zeit neue Dokumente aufzuschalten und über Aktuelles zur Paul-Haller-Rezeption zu informieren.
        </p>

        <p>
            Projektleitung: Prof. Dr. Fridolin Stähli, Aarau
        </p>
        <p>
            Konzept, Recherche, Texte: Lic. phil. Monique Meyer, Bern
        </p>
        <p>
            Konzept, Design, Programmierung: Christoph Stähli, Zürich
        </p>
        <p>
        Diese Website wurde unterstützt durch den Kanton Aargau.
        </p>
        <p>
        <a href="http://www.ag.ch/"><img src="{{MEDIA_URL}}logo_kanton_aargau.gif" width="100px"/></a><br /><br />
        <a href="http://www.ag.ch/staatsarchiv"><img src="{{MEDIA_URL}}archiv.jpg" width="100px"/></a><br />
        </p>

    </div>
</div>


{% endblock %}