{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block main %}
{% if letters %}
{% include "website/letter_nav.html" %}
{% endif %}

<p>
Im Nachlass Paul Hallers befindet sich eine grosse Anzahl handschriftlicher Briefe, die seit kurzem vollständig erschlossen sind.
</p>
<p>
Die Erschliessung der von Haller verfassten Briefe beinhaltete die Transkription der bisher ungedruckten sowie der teilweise gedruckten Briefe in ein digitales Format. Die bereits in Buchformat (Paul Haller. Gesammelte Werke, hrsg. von Erwin Haller, 4. Aufl., Sauerländer 1995) vorliegenden Briefe sind alle höchst unvollständig und meist sehr fehlerhaft wiedergegeben und bedurften für eine weitere Verwendung einer vollständig neu durchgesehenen und transkribierten Überarbeitung.
</p>
<p>
Die Briefe, die Paul Haller während mehr als drei Jahrzehnten schrieb, richteten sich an seine Eltern, Angelika und Erwin Haller, seine Geschwister Adolf, Marie und Erwin Haller, an die Ehegatten und -gattinnen der Geschwister, an den Studienfreund Ulrich Gutersohn und dessen Familie, an den Freund Adolf Hartmann und dessen Frau Anna, an die Freundin Blanche Henzi, an Schüler aus der Schierser Zeit und an andere Verwandte und Bekannte sowie Berufskollegen.
</p>
<p>
Hier veröffentlichen wir erstmals einige der bisher unbekannten Briefe Paul Hallers aus den verschiedenen Lebensphasen, drei davon zudem in faksimilierter Form.
</p>
<p>
Quelle: Staatsarchiv Aargau
Transkription, Redaktion und Auswahl: Monique Meyer
</p>

{% endblock %}