{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block main %}

<div class="row">
    <div class="large-12 columns">
        <p><a href="http://filmstudieren.ch/dunkelschwarzi-auge">Dunkelschwarzi Auge - Dokumentarfilm</a></p>
        <p><a href="http://www.ag.ch/staatsarchiv">Staatsarchiv des Kantons Aargau</a></p>
        <p><a href="http://www.nb.admin.ch/org/organisation/00783/index.html?lang=de">Schweizerisches Literaturarchiv SLA</a></p>
        <p><a href="http://www.gedl.ch/">Gesellschaft für die Erforschung der Deutschweizer Literatur</a></p>
        <p><a href="http://www.culturactif.ch/">Le Culturactif Suisse</a></p>
        <p><a href="http://www.erlangerliste.de/">Germanistik im Internet – Erlanger Liste</a></p>
    </p>

    <p>
        Für den Inhalt der verlinkten Seiten übernehmen wir keine Haftung, dafür sind ausschliesslich deren Betreiber verantwortlich.
    </p>
</div>
</div>


{% endblock %}
