{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block main %}


{% include "website/werk_nav.html" %}


<p>Nachlass- und Archivverzeichnis des&nbsp;Staatsarchiv Aargau:</p>

<table style="float: left;">
    <tr>
        <td valign="middle">
            <a href="{{MEDIA_URL}}Nachlass_Paul_Haller.pdf" target="_blank"><img
                    src="{% static 'images/pdf.gif' %}" alt=""/></a>
        </td>
        <td valign="middle">
            <a href="{{MEDIA_URL}}Nachlass_Paul_Haller.pdf" target="_blank">Nachlass</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: left;" valign="middle">
            <a href="{{MEDIA_URL}}Archivverzeichnis_Paul_Haller.pdf"
               target="_blank"><img src="{% static 'images/pdf.gif' %}" alt=""/></a>
        </td>
        <td valign="middle">
            <a href="{{MEDIA_URL}}Archivverzeichnis_Paul_Haller.pdf"
               target="_blank">Archivverzeichnis</a>
        </td>
    </tr>

</table>


{% endblock %}