{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block main %}
{% include "website/leben_nav.html" %}
<div class="row">
    <div class="large-12 columns">
        <table>
            <tr>
                <td width="150" style="vertical-align: top;">13. Juli 1882</td>
                <td>Geburt Paul Hallers in Rein bei Brugg (AG), Sohn von Erwin Haller (1840–1911; Pfarrer und
                    Schulinspektor) und
                    Angelika Haller-Schwab (1844–1918; Pfarrfrau). Paul Haller ist das zweitjüngste von fünf Kindern,
                    neben
                    den
                    Brüdern Theodor (Lebensdaten unbekannt), Adolf (geb.1880; Zahnarzt) und Erwin (1885–1971; Dr. phil.)
                    hatte er
                    noch eine ältere Schwester, Marie (geb. 1877).
                    Primarschule in Rein, Bezirksschule in Brugg und Kantonsschule in Aarau
                </td>
            </tr>
            <tr>
                <td>1902–1906</td>
                <td>Theologiestudium in Basel, Marburg an der Lahn und Berlin</td>
            </tr>
            <tr>
                <td>1906</td>
                <td>Stellvertretender Pfarrer in Kappel (ZH) und Neuchâtel (NE)</td>
            </tr>
            <tr>

                <td>1906–1910</td>
                <td>Pfarrer von Kirchberg bei Küttigen (AG)</td>
            </tr>
            <tr>
                <td>1910</td>
                <td>Zweitstudium der Germanistik, Geschichte, Pädagogik und Psychologie an der Universität Zürich</td>
            </tr>
            <tr>
                <td>1912</td>
                <td>Das Epos s Juramareili erscheint bei Sauerländer, Aarau</td>
            </tr>
            <tr>
                <td>1913</td>
                <td>Dissertation zu Johann Heinrich Pestalozzis Dichtung bei Adolf Frey (erschienen 1914)</td>
            </tr>
            <tr>
                <td>1913–1916</td>
                <td>Lehrer für Deutsch, Geschichte und Geographie an der Evangelischen Lehranstalt in Schiers im
                    Prättigau (GR)
                </td>
            </tr>
            <tr>
                <td>1916–1920</td>
                <td>Lehrer am Aargauischen Lehrerseminar in Wettingen</td>
            </tr>
            <tr>
                <td>1916</td>
                <td>Das Theaterstück Marie und Robert erscheint bei Francke, Bern</td>
            </tr>
            <tr>
                <td>1918</td>
                <td>Beginn der Psychotherapie bei Carl Gustav Jung in Zürich</td>
            </tr>
            <tr>
                <td>10. März 1920</td>
                <td>Tod Paul Hallers in Zürich</td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}